<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="self-test-ruleset">
  <description>Created to check this project.</description>
  <file>AntipinCS/</file>
  <rule ref="AntipinCS">
    <include-pattern>*\.php$</include-pattern>
    <properties>
      <property name="ignore" type="array">
        <element key="Sniff" value="process"/>
        <element key="AbstractVariableSniff" value="processMemberVar,processVariable,processVariableInString"/>
      </property>
		</properties>
  </rule>
</ruleset>