<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="self-test-ruleset">
  <description>Created to check this project.</description>
  <file>AntipinCS/</file>
  <rule ref="AntipinCS">
    <include-pattern>*\.php$</include-pattern>
  </rule>
  <rule ref="AntipinCS.Functions.ParameterTypeDeclaration">
    <properties>
      <property name="ignore" type="array">
        <element key="PHP_CodeSniffer\Sniffs\Sniff" value="process"/>
        <element key="PHP_CodeSniffer\Sniffs\AbstractVariableSniff" value="processMemberVar,processVariable,processVariableInString"/>
        <element key="PHP_CodeSniffer\Tests\Standards\AbstractSniffUnitTest" value="getTestFiles"/>
      </property>
		</properties>
  </rule>
</ruleset>