parameters:
    phpVersion: 80200
    level: 9
    paths:
        - AntipinCS
    excludePaths:
        - var (?)
        - vendor
    bootstrapFiles:
        - vendor/autoload.php
        - vendor/squizlabs/php_codesniffer/src/Util/Tokens.php